<p>BY: <%= @post.user.name%></p>

<%= render partial: 'users/post', locals: { post: @post, user: @post.user }%>
<%= render partial: 'comments', locals: {comments: @post.comments, user: current_user, post: @post}%>
<%= render partial: 'comment_form', locals: {user_id: current_user.id, post_id: @post.id} %>
