body {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 50%;
}

.app-name {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 15px;
  color: darkorange;
}
